### 1. Explain the key features of Python that make it a popular choice for programming.

Ans: There are several key features of Python that make it a popular choice for programming:-


a.Readability and Simplicity : Its clear and expressive syntax, making it easier to write and understand code.

b.Versatility and Flexibility: It is multipurpose suitable for various application(fronted, backend,ML,Data Science).

c.Large Standard Library:It comes with a comprehensive standard libarary. So that we can reuse those in our code.

d.Huge active community:It has a large and active community of developers who contribute to its growth.

e.Open Source and Free: It is open source, meaning its source code is freely available for modification and redistribution.

### 2.Describle the role of predefined keywords in Python and provide examples of how they are used in a program.

Ans:Predefined keywords in Python refer to as reserved words or set of words that have special meanings an purposes in Pyton programming larnguage.

Roles are:
a.These keywords are reserved by Python and cannot be used as identifiers 
(names for variables, functions, classes, etc.). 
b.Keywords help define the structure and flow of a Python program. They 
are used to write statements, control the flow of execution, handle exceptions,
and define the scope and structure of code.

Example 1: Control Flow with if, elif, and else

In [2]:
x = 10
if x > 0:
    print("x is positive")
elif x == 0:
    print("x is zero")
else:
    print("x is negative")

x is positive

Example 2: Looping with `for` and `while`

In [1]:
# Using 'for' loop
for i in range(5):
    print(i)

# Using 'while' loop
count = 0
while count < 5:
    print(count)
    count += 1

0
1
2
3
4
0
1
2
3
4


Example 3: Defining Functions with `def` and Returning Values with `return`

In [4]:
def greet(name):
    return f"Hello, {name}!"

message = greet("xyz")
print(message)

Hello, xyz!


### 3.Compare and contrast mutable and immutable objects in python with examples

Ans:In Python, objects can be categorized as either mutable or immutable based on whether
their state (or data) can be modefied after they are created.

Mutable Objects:Mutable objects are those whose state or content can be changed after they are created.

Examples:Lists, dictionaries, sets etc.

Characteristics:

a.Modifiable: we can change the content of the object without creating a new object.

b.Memory Usage: Modifying the object does not create a new object, which can be more memory-efficient for large datasets.

c.Performance: Operations that modify mutable objects can be faster since they do not involve creating a new object.

d.Functions: When passed to a function, changes to mutable objects within the function affect the original object outside the function.

In [5]:
# List (Mutable)
my_list = [1, 2, 3]
print("Original list:", my_list)

Original list: [1, 2, 3]

In [6]:
# Modifying the list
my_list[0] = 10
print("Modified list:", my_list)

Modified list: [10, 2, 3]

In [7]:
# Dictionary (Mutable)
my_dict = {"name": "Alice", "age": 25}
print("Original dictionary:", my_dict)

Original dictionary: {'name': 'Alice', 'age': 25}

In [8]:
# Modifying the dictionary
my_dict["age"] = 26
print("Modified dictionary:", my_dict)

Modified dictionary: {'name': 'Alice', 'age': 26}

Immutable Objects:

Immutable objects are those whose state or content cannot be changed once they are created.

Examples: Strings, tuples, integers, floats, frozensets, etc.

Characteristics:

a.Non-modifiable: Any operation that appears to modify an immutable object will actually create a new object.

b.Memory Usage: Immutable objects can lead to higher memory usage if many similar objects are created.

c.Performance: Operations that appear to modify immutable objects involve creating new objects, which can be slower.

d.Functions: When passed to a function, changes to immutable objects within the function do not affect the original object outside the function.

In [10]:
# String (Immutable)
my_string = "hello"
print("Original string:", my_string)

Original string: hello

In [11]:
# Attempting to modify the string (creates a new string)
new_string = my_string.replace('h', 'y')
print("New string:", new_string)
print("Original string remains unchanged:", my_string)

New string: yello
Original string remains unchanged: hello

In [12]:
# Tuple (Immutable)
my_tuple = (1, 2, 3)
print("Original tuple:", my_tuple)

Original tuple: (1, 2, 3)

In [13]:
# Attempting to modify the tuple (creates a new tuple)
new_tuple = my_tuple + (4,)
print("New tuple:", new_tuple)
print("Original tuple remains unchanged:", my_tuple)

New tuple: (1, 2, 3, 4)
Original tuple remains unchanged: (1, 2, 3)

### 4.Discuss the different types of operators in Python and provide examples of how they are used

Operators in Python are special symbols or keywords used to perform operations on variables and values.

Different types of operators in Python are

1. Arithmetic Operators

In [14]:
# Addition (+)
a = 10
b = 5
print(a + b)  # Output: 15

15

In [15]:
#Subtraction (-)
print(a - b)  # Output: 5

5

In [16]:
#Multiplication (*)
print(a * b)  # Output: 50

50

In [17]:
#Division (/)
print(a / b)  # Output: 2.0

2.0

In [18]:
#Floor Division (//)
print(a // b)  # Output: 2

2

In [19]:
#Modulus (%)
print(a % b)  # Output: 0

0

In [20]:
#Exponentiation (**)
print(a ** b)  # Output: 100000

100000

2. Comparison (Relational) Operators

In [21]:
#Equal to (==)
print(a == b)  # Output: False

False

In [22]:
#Not equal to (!=)
print(a != b)  # Output: True

True

In [23]:
# Greater than (>)
print(a > b)  # Output: True

True

In [24]:
#Less than (<)
print(a < b)  # Output: False

False

In [25]:
#Greater than or equal to (>=)
print(a >= b)  # Output: True

True

In [26]:
#Less than or equal to (<=)
print(a <= b)  # Output: False

False

3. Assignment Operators

In [27]:
#Assignment (=)
c = a + b
print(c)  # Output: 15

15

In [28]:
#Add and assign (+=)
c += a
print(c)  # Output: 25

25

In [29]:
#Subtract and assign (-=)
c -= b
print(c)  # Output: 20

20

In [30]:
#Multiply and assign (*=)
c *= a
print(c)  # Output: 200

200

In [31]:
#Divide and assign (/=)
c /= a
print(c)  # Output: 20.0

20.0

4. Logical Operators

In [32]:
#AND (and)
print(a > 5 and b < 10)  # Output: True

True

In [33]:
#OR (or)
print(a > 15 or b < 10)  # Output: True

True

In [34]:
# NOT (not)
print(not(a > 5))  # Output: False

False

5. Bitwise Operators

In [35]:
# AND (&)
print(a & b)  # Output: 0 (binary: 1010 & 0101 = 0000)

0

In [36]:
# OR (|)
print(a | b)  # Output: 15 (binary: 1010 | 0101 = 1111)

15

In [37]:
# XOR (^)
print(a ^ b)  # Output: 15 (binary: 1010 ^ 0101 = 1111)

15

In [38]:
# NOT (~)
print(~a)  # Output: -11 (binary: ~1010 = ...11110101)

-11

In [39]:
#Left Shift (<<)
print(a << 2)  # Output: 40 (binary: 1010 << 2 = 101000)

40

In [40]:
#Right Shift (>>)
print(a >> 2)  # Output: 2 (binary: 1010 >> 2 = 10)

2

6. Membership Operators

In [41]:
# In (in)
my_list = [1, 2, 3, 4, 5]
print(3 in my_list)  # Output: True

True

In [42]:
# Not in (not in)
print(6 not in my_list)  # Output: True

True

7. Identity Operators

In [43]:
# Is (is)
x = [1, 2, 3]
y = x
print(x is y)  # Output: True

True

In [44]:
# Is not (is not)
z = [1, 2, 3]
print(x is not z)  # Output: True

True

In [45]:
# Ternary Operator
a, b = 10, 20
min_val = a if a < b else b
print(min_val)  # Output: 10

10

### 5. Explain the concept of type casting in Python with examples

Type casting in Python refers to the process of converting one data type into another.

There are two types of type casting in Python:

##### Implicit Type Casting
##### Explicit Type Casting

Implicit Type Casting: Implicit type casting is performed automatically by Python.

Example:

In [46]:
# Implicit type casting
num_int = 10    # Integer
num_float = 3.5 # Float

# Adding an integer and a float
result = num_int + num_float

print(result)       # Output: 13.5
print(type(result)) # Output: <class 'float'>

13.5
<class 'float'>

##### 2. Explicit Type Casting

int(): Converts to integer
/nfloat(): Converts to float
/nstr(): Converts to string
/nlist(): Converts to list
/ntuple(): Converts to tuple
/nset(): Converts to set
/ndict(): Converts to dictionary (from a list of key-value pairs)
/ncomplex(): Converts to complex number

In [47]:
# Explicit type casting to integer
num_str = "123"
num_float = 45.67

# Converting string to integer
num_int = int(num_str)
print(num_int)        
print(type(num_int))

# Converting float to integer
num_int = int(num_float)
print(num_int)
print(type(num_int))

123
<class 'int'>
45
<class 'int'>

In [48]:
# Explicit type casting to float
num_str = "123.45"
num_int = 100

# Converting string to float
num_float = float(num_str)
print(num_float)
print(type(num_float))

# Converting integer to float
num_float = float(num_int)
print(num_float)
print(type(num_float))

123.45
<class 'float'>
100.0
<class 'float'>

In [49]:
# Explicit type casting to string
num_int = 123
num_float = 45.67

# Converting integer to string
num_str = str(num_int)
print(num_str)
print(type(num_str))

# Converting float to string
num_str = str(num_float)
print(num_str)
print(type(num_str))

123
<class 'str'>
45.67
<class 'str'>

In [50]:
# Explicit type casting to list
tuple_data = (1, 2, 3)
list_data = list(tuple_data)
print(list_data)       
print(type(list_data))

# Explicit type casting to tuple
list_data = [4, 5, 6]
tuple_data = tuple(list_data)
print(tuple_data)      
print(type(tuple_data))

# Explicit type casting to set
list_data = [1, 2, 2, 3, 4, 4]
set_data = set(list_data)
print(set_data)
print(type(set_data))

# Explicit type casting to dictionary
list_data = [("name", "Alice"), ("age", 25)]
dict_data = dict(list_data)
print(dict_data)
print(type(dict_data))

[1, 2, 3]
<class 'list'>
(4, 5, 6)
<class 'tuple'>
{1, 2, 3, 4}
<class 'set'>
{'name': 'Alice', 'age': 25}
<class 'dict'>

In [51]:
# Explicit type casting to complex
num_int = 10
num_float = 5.5

# Converting integer to complex
complex_num = complex(num_int)
print(complex_num)
print(type(complex_num))

# Converting float to complex
complex_num = complex(num_float)
print(complex_num)
print(type(complex_num))

(10+0j)
<class 'complex'>
(5.5+0j)
<class 'complex'>

### 6.  How do conditional statements work in Python? Illustrate with exmples

Conditional statements in Python allow us to execute certain blocks of code based on specific conditions.

The primary conditional statements in Python are `if`, `elif`, and `else`. Hereâ€™s how they work along with some examples:

##### 1. if Statement
The if statement evaluates a condition. If the condition is true, the block of code inside the if statement is executed.

Example:

In [52]:
x = 10
if x > 5:
    print("x is greater than 5")

x is greater than 5

##### 2. else Statement
The else statement follows an if statement and runs when the if condition is false.

In [53]:
x = 3
if x > 5:
    print("x is greater than 5")
else:
    print("x is not greater than 5")

x is not greater than 5

##### 3. elif Statement
The elif (short for "else if") statement allows us to check multiple expressions for true and execute a block of code as soon as one of the conditions is true. It is used to check multiple conditions.

In [54]:
x = 10
if x > 15:
    print("x is greater than 15")
elif x > 5:
    print("x is greater than 5 but less than or equal to 15")
else:
    print("x is 5 or less")

x is greater than 5 but less than or equal to 15

#### 4. Nested if Statements
We can use one if statement inside another if statement to create nested conditions.

In [55]:
x = 10
y = 20
if x > 5:
    if y > 15:
        print("x is greater than 5 and y is greater than 15")
    else:
        print("x is greater than 5 but y is not greater than 15")
else:
    print("x is not greater than 5")

x is greater than 5 and y is greater than 15

### 7. Describe the different types of loops in Python and their use cases with examples

In Python, loops are used to execute a block of code repeatedly until a certain condition is met. There are two main types of loops in Python:

1.`for`loop
2.`while` loop

### 1. for Loop
The for loop in Python is used to iterate over a sequence (such as a list, tuple, string, or range). It executes a block of code for each item in the sequence.

In [56]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [57]:
for char in "hello":
    print(char)

h
e
l
l
o

In [58]:
person = {"name": "Alice", "age": 25}
for key, value in person.items():
    print(f"{key}: {value}")

name: Alice
age: 25

In [59]:
for i in range(5):
    print(i)

0
1
2
3
4

### 2. while Loop
The while loop in Python repeatedly executes a block of code as long as a given condition is true.

In [60]:
count = 0
while count < 5:
    print(count)
    count += 1

0
1
2
3
4

### Loop Control Statements
Python provides several statements to control the flow of loops:

In [61]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [62]:
for i in range(10):
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9